extends layout

block content
  .playing(style="z-index:1000")
    p Playing:
      span.title 
  h1= title
  p Welcome to #{title}

  .spacer(style="height:100px")
  a.btn.btn-primary.btn-lg.restart(href="/restart") Restart


  //p=series
  .card
    .card-header 
      h4 Media controls
    .card-body
      .container
        .row
          .col-sm
            .rewind
          .col-sm    
            .play
          .col-sm    
            .pause
          .col-sm    
            .fastforward  
        .row.position-control
          form.form-inline
            .input-group.mb-2
              button.getPosition.btn.btn-secondary.form-control(type="button",id="submit") Get Position
              .input-group-addon Hours   
              input.hours.form-control(type="number",id="hours",placeholder="00",min="0",max="24",value="0")
            .input-group.mb-2
              .input-group-addon Minutes   
              input.minutes.form-control(type="number",id="minutes",placeholder="00",min="0",max="60",value="0")
            .input-group.mb-2
              .input-group-addon Seconds      
              input.seconds.form-control(type="number",id="seconds",placeholder="00",min="0",max="60",value="0")
            .input-group.mb-2
              button.setPosition.btn.btn-primary.form-control(type="button",id="submit") Set Position

  p &nbsp;
  p &nbsp;
  p &nbsp;
  - var folders=Object.keys(series)
  - count=0
  div(id="accordion",role="tablist")
    each folder in folders
      .card
        .card-header(role="tab",id="heading"+count)
          h4.mb-0
            a(data-toggle="collapse",href="#collapse"+count, aria-expanded="true",aria-controls="collapse"+count)=folder
        .collapse(id="collapse"+count,role="tabpanel",aria-labelledby="heading"+count,data-parent="#accordion")    
          .card-body
            each serie in series[folder]
              .btn.btn-success.video(href="/start?idx="+count,count=count)=serie
              - count++	
