extends layout

block content
  .playing
    p Playing:
      span.title 
  h1= title
  p Welcome to #{title}

  .spacer(style="height:100px")
  a.btn.btn-primary.btn-lg.restart(href="/restart") Restart

  //p=series
  .card
    .card-header 
      h4 Media controls
    .card-body
      .container
        .row
          .col-sm
            .rewind
          .col-sm    
            .play
          .col-sm    
            .pause
          .col-sm    
            .fastforward  
  p &nbsp;
  p &nbsp;
  p &nbsp;
  - var folders=Object.keys(series)
  - count=0
  each folder in folders
    .card
      .card-header
        h4=folder
      .card-body
        each serie in series[folder]
          .btn.btn-success.video(href="/start?idx="+count,count=count)=serie
          - count++	
