extends layout

block content
  h1= title
  p Welcome to #{title}
  a.btn.btn-primary.btn-lg(href="/play") PLAY
  a.btn.btn-primary.btn-lg(href="/pause") PAUSE
  .spacer(style="height:100px")
  a.btn.btn-primary.btn-lg.restart(href="/restart") Restart
  //p=series
  .rewind
  .play
  .pause
  .fastforward  
  p &nbsp;
  p &nbsp;
  p &nbsp;
  - var folders=Object.keys(series)
  - count=0
  each folder in folders
    h1=folder
    each serie in series[folder]
      a.btn.btn-success(href="/start?idx="+count)=serie
      - count++	
